*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
border: 1px solid black;     
margin: 10px;  
}


.hero{
border: 1px solid black;  
text-align: center;
margin: 10px;   
height: 300px;
min-height: fit-content;
background-image: url("../images/bg2.png");
}

.content{
    border: 1px solid black;  
    text-align: center;
    margin: 10px;   
    padding: 10px;
    }

.flexbox-container{
    display: flex;
    justify-content: center;
   
}

.flexbox-item {
    border: 1px solid black;
    margin: 10px;

  }

  .flexbox-item-1
{
  min-height: 300px;
  flex-grow: 1;
}

.flexbox-item-2
{
  min-height: 300px;
  flex-grow: 1;
}

.flexbox-item-3
{
  min-height: 300px;
  flex-grow: 1;
}
 

  .flexbox-container a {
    background-color: aqua;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
  }

  .flexbox-container a:hover {
    background-color: rgb(62, 62, 62);
    color: white;
   cursor: pointer;
    transition: all 1s ease;
  }

  .flexbox-container p {

    padding: 20px;
  }

  .flexbox-container h2 {

    padding: 20px;
  }

  .grid-container{
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 16px;
    column-gap: 10px;
    row-gap: 10px;
    
  
}

.col {
  padding: 16px;  
  border: 1px solid black;  
  text-align: center;
}
